{% extends "base.html" %}

{% block page_content %}
 <div id="myModal" class="modal fade" data-backdrop="false" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content" >
                                    <center>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 class="modal-title"></h3><br>
                                        </div>
                                    </center>
                                    <div class="modal-body" >
                                       <div class="container" id="details_page">

                                       </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-hover btn-primary btn-sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End:modal Add Product -->
<div class="container">
  <h2>Bookmarked Repos</h2>
      <div><a href="/" class="button">View Bookmarks</a></div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Action</th>
        <th>Remove from Bookmarks</th>

      </tr>
    </thead>
    <tbody>
    {%if data %}
    {% for k in data.items %}
      <tr>
        <td>{{k.name}}</td>
        <td>{{k.owner.login}}</td>
        <td data-id="{{k.full_name}}" ><button data-toggle="modal" data-target="#myModal">View</button></td>
        <td data-class="{{k.id}}"><button id="remove{{k.id}}" >Remove</button></td>
          <script>
              $('#remove{{k.id}}').click(function(e){
                e.preventDefault();
                 var id = $(e.target).closest('td').data('class');
                 console.log(id);
                $.ajax({
                  type: 'GET', //THIS NEEDS TO BE GET
                  url: "remove/"+id,
                  success: function (data) {
                  alert(data.message);
                  location.reload();
return false;




                     //$('#details_page').html(data);
                  },
                  error: function(data) {
                       console.log(data);
                  }
              });
               });
          </script>
      </tr>
    {% endfor%}
    {% endif%}

    </tbody>
  </table>
</div>

<script>
     $('#myModal').modal({
        keyboard: true,
        backdrop: "static",
        show:false,

    }).on('show.bs.modal', function(){

          var getname = $(event.target).closest('td').data('id');
        //make your ajax call populate items or what even you need

        $.ajax({
                  type: 'GET', //THIS NEEDS TO BE GET
                  url: "details/"+getname,
                  success: function (data) {
                  //console.log(data);


                     $('#details_page').html(data);
                  },
                  error: function(data) {
                       console.log(data);
                  }
              });



    });



</script>

{% endblock %}
